<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="Items">./Data/Items.txt</entry>
    <entry key="Customers">./Data/customers.xml</entry>
    <entry key="Purchases">./Data/Purchases.txt</entry>
</properties>